/*cabecanho em teste*/

.cabecanho{
    background-color: aqua;
    color: black;
    padding: 15px;
    text-align: center;
    font-family:serif;
    width: 100%;
    position: fixed;
    top:0%;
    left:0%;


}
/*fontes em testes (pode nao estar em uso)*/

h1{
    font-size: large;
    font-style: italic;
    color:blue
}

/*rodape*/
.rodape{
    background-color:black;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: fixed;

p1{
    font-size: larger;
    font-style: unset;
    color: red;
}
}


/*
@charset "UTF8";
@import url("CSS/reset.css");
@import url("CSS/index.css");
@import url("CSS/faleconosco.css");
@import url("CSS/dicasagricolas.css");
@import url("CSS/servicosprestados.css");

header{
    background-image: linear-gradient(to bottom,rgba(136, 15, 250, 0.973),rgba(255, 117, 4, 0.979), rgba(255,255,255));
    padding: 1px;
    margin: -10px;
    text-align: center;
    position: fixed;
    top: 0; 
    width: 105%;           
}

.cab{
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.container {
    display: flex;   
}

.span{
    font-weight: bold;
    color: rgb(0, 0, 77);
}

.container__cabeçalho {
    background-color: var(--branco);
    display: inline;
    justify-content: space-between;
    
    position: relative;
    width: 100vw;
}

.lista-menu {
    display: none;
    position: relative;
    left: 60%;
    width: 20vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
    position: absolute;
    top: 100%;
    width: auto;
    background: white;
    text-decoration: none;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: unset;
    background-clip: text;
    text-decoration: none;
}

.container__botao {
    display: none;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 77);
    font-weight: bolder;
}
a:visited{
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(11, 185, 229);    
}   

a:active{
    color: green;
    text-decoration: none;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    line-height: 100%;
    text-align: center;  
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.795),rgb(94, 233, 94));
}

.pe{ 
    margin-top: -0.5vh;
}

.imgrodape{
    width: 4vh;;
}

.copyr {
    color: black;
    font-size: 1.7vh;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 1024px) {
.menu{
    margin: 1.5vh auto 0;
}
h1{
    margin-left: 30%;
}

}

@media screen and (min-width: 1728px) {

}
*/