/*cabecanho em teste*/

.cabecanho{
    background-color: aqua;
    color: black;
    padding: 15px;
    text-align: center;
    font-family:serif;
    width: 100%;
    position: fixed;
    top:0%;
    left:0%;


}
/*fontes em testes (pode nao estar em uso)*/

h1{
    font-size: large;
    font-style: italic;
    color:blue
}

/*rodape*/
.
p1{
    font-size: larger;
    font-style: unset;
    color: red;
}
p2{
    font-size:x-large;
    font-size-adjust: initial;
}
